<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>MeetMyTutor</title>

    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css">
    <!-- toastify -->
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
</head>

<body class="overflow-x-hidden overscroll-none font-inter">

{% include "header.html" %}
{% block content %}
  
{% endblock content %}
{% include "footer.html" %}
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
{% if messages %}
<script>
    {% for message in messages %}
        Toastify({
            text: "{{ message|escapejs }}",
            duration: 4000,
            close: true,
            gravity: "top", // top or bottom
            position: "center", // left, center or right
            backgroundColor: "{% if 'error' in message.tags %}#e53935{% elif 'success' in message.tags %}#43a047{% else %}#2196f3{% endif %}",
            stopOnFocus: true, // prevent dismiss on hover
        }).showToast();
    {% endfor %}
</script>
{% endif %}


</body>
</html>